body {
  background-color: #EDBB99;
  width: 500px;
  height: 400px;
}

h1{
  font-family: 'Pushster', cursive;
  font-size: 40px;
  color: #AD591C;
}

p{
  font-family: 'Kreon', serif;
  font-size: 15px;
}

button {
  width: 150px;
  height: 30px;
  font-family: 'Pacifico', cursive;
  font-size: 17px;
  border-radius: 8px;
  color: #BCACA0;
  background-color: #5E3A32;
  height: 40px;
}
#configuracoes {
  margin: 20px;
}

#ajuda {
  margin: 20px;
}

#dicas{
  margin: 20px;
}

#pontos{
  margin: 20px;
}

#on_off{
  position: absolute;
  margin: 10px;
  bottom: 10px;
  right: 10px;
}