body {
  background-color: #F8A183;
  width: 500px;
  height: 400px;
}

button {
  width: 150px;
  height: 30px;
  margin: 10px;
}
#configuracoes {
  background-color: aqua;
}

#ajuda {
  background-color: aqua;
}

#on_off{
  background-color: aqua;
}