body {
  background-color: var(--bodyColor);
  width: 500px;
  height: 400px;
}

h1{
  font-family: var(--titleFont), cursive;
  font-size: 40px;
  color: var(--titleColor);
}

p{
  font-family: var(--textFont), serif;
  color: var(--textColor);
  font-size: 15px;
}

button {
  width: 150px;
  height: 30px;
  font-family: var(--buttonTextFont), cursive;
  font-size: 17px;
  border-radius: 8px;
  color: var(--buttonColor);
  background-color: var(--buttonBColor);
  height: 40px;
}
#configuracoes, #ajuda, #dicas, #pontos{
  margin: 20px;
}
#on_off{
  position: absolute;
  margin: 10px;
  bottom: 10px;
  right: 10px;
}