body {
    background-color: var(--bodyColor);
    height: 1080px;
    width: 1920px;
}

h1{
    font-family: var(--titleFont), cursive;
    font-size: 50px;
    color: var(--titleColor);
}

h3{
    font-family: var(--subTitleFont), cursive;
    font-size: 25px;
    color: var(--subtitleColor);
}

button{
    font-family: var(--buttonTextFont), cursive;
    font-size: 17px;
    border-radius: 8px;
    color: var(--buttonColor);
    background-color: var(--buttonBColor);
    height: 40px;
}

p{
    font-family: var(--textFont), serif;
    color: var(--textColor);
    font-size: 20px;
}

#textFont,#buttonTextFont,#titleFont,#subtitleFont{
    font-family: var(--textFont);
}

#links{
    display: inline-block;
}

#dicas{
    position: absolute;
    margin-left: 850px;
    height: 40px;
    width: 100px;
    margin-top: 40px;
}

#ajuda{
    position: absolute;
    margin-left: 1000px;
    height: 40px;
    width: 100px;
    margin-top: 40px;
}