body {
    background-color: #EDBB99;
}

h1{
    font-family: 'Pushster', cursive;
    font-size: 50px;
    color: #AD591C;
}

h3{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: #D37C3C;
}

button{
    font-family: 'Pacifico', cursive;
    font-size: 17px;
    border-radius: 8px;
    color: #BCACA0;
    background-color: #5E3A32;
    height: 40px;
}

p{
    font-family: 'Kreon', serif;
    font-size: 20px;
}