body {
    background-color: var(--color);
}

h1{
    font-family: var(--titleFont), cursive;
    font-size: 50px;
    color: #AD591C;
}

button{
    font-family: var(--buttonTextFont), cursive;
    font-size: 18px;
    border-radius: 8px;
    color: #BCACA0;
    background-color: #5E3A32;
    height: 50px;
    margin-left: 40%;
    margin-top: 40px;
}

h3{
    font-family: var(--subTitleFont), cursive;
    font-size: 25px;
    color: #D37C3C;
}

p{
    font-family: var(--textFont), serif;
    font-size: 18px;
}

#lista{
    display: list-item;
    margin-left: 100px;
}

#lista2{
    display: list-item;
    margin-left: 100px;
}