body {
    background-color: var(--bodyColor);
    height: 1080px;
    width: 1920px;
}

h1{
    font-family: var(--titleFont), cursive;
    font-size: 50px;
    color: var(--titleColor);
}

button{
    font-family: var(--buttonTextFont), cursive;
    font-size: 18px;
    border-radius: 8px;
    color: var(--buttonColor);
    background-color: var(--buttonBColor);
    height: 50px;
    margin-left: 45%;
    margin-top: 40px;
}

h3{
    font-family: var(--subTitleFont), cursive;
    font-size: 25px;
    color: var(--subtitleColor);
}

p{
    font-family: var(--textFont), serif;
    color : var(--textColor);
    font-size: 18px;
}

#lista{
    display: list-item;
    margin-left: 100px;
}

#links{
    display: inline-block;
}

#configuracoes{
    position: absolute;
    margin-left: 700px;
    margin-top: 40px;
    height: 40px;
}

#quiz{
    position: absolute;
    margin-left: 850px;
    margin-top: 40px;
    height: 40px;
    width: 270px;
}

#ajuda{
    position: absolute;
    margin-left: 1150px;
    margin-top: 40px;
    height: 40px;
    width: 100px;
}