body {
    background-color: #EDBB99;
}

h1{
    font-family: 'Pushster', cursive;
    font-size: 50px;
    color: #AD591C;
}

button{
    font-family: 'Pacifico', cursive;
    font-size: 17px;
    border-radius: 8px;
    color: #F8AC9B;
    background-color: #5E3A32;
}

h3{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: #D37C3C;
}

p{
    font-family: 'Kreon', serif;
    font-size: 18px;
}