body {
    background-color: var(--bodyColor);
    height: 1080px;
    width: 1920px;
}

h1{
    font-family: var(--titleFont), cursive;
    font-size: 50px;
    color: var(--titleColor);
}

h3{
    font-family: var(--subTitleFont) , cursive;
    font-size: 25px;
    color: var(--subtitleColor);
}

p{
    font-family: var(--textFont), serif;
    color: var(--textColor);
    font-size: 18px;
}
button {
    width: 200px;
    height: 30px;
    font-family: var(--buttonTextFont), cursive;
    font-size: 17px;
    border-radius: 8px;
    color: var(--buttonColor);
    background-color: var(--buttonBColor);
    height: 40px;
}

#fox {
    position: absolute;
    margin-top: -150px;
    margin-left: 700px;
}

#pointcount {
    width: 160px;
    height: 25px;
    background-color: white;
    text-align: center;
    font-family: var(--textFont), serif;
    color: var(--textColor);
    font-size: 18px;
    position: absolute;
    margin-top: 200px;
    margin-left: 865px;

}

#resetPoints{
    position: absolute;
    margin-top: 500px;
}