body {
    background-color: var(--bodyColor);
}

h1{
    font-family: var(--titleFont), cursive;
    font-size: 50px;
    color: var(--titleColor);
}

h3{
    font-family: var(--subTitleFont) , cursive;
    font-size: 25px;
    color: var(--subtitleColor);
}

p{
    font-family: var(--textFont), serif;
    color: var(--textColor);
    font-size: 18px;
}
button {
    width: 200px;
    height: 30px;
    font-family: var(--buttonTextFont), cursive;
    font-size: 17px;
    border-radius: 8px;
    color: var(--buttonColor);
    background-color: var(--buttonBColor);
    height: 40px;
}

#fox {
    text-align: center;

}

#pointcount {
    width: 170px;
    height: 35px;
    background-color: white;
    text-align: center;
    margin-left: 44%;
    font-family: var(--textFont), serif;
    color: var(--textColor);
    font-size: 18px;
}